.leftArrow {
    position: fixed;
    z-index: 2147483647;
    width: 200px;
    height: 200px;
    top: 40%;
    left: 5%;
    opacity: 0.75;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.rightArrow {
    position: fixed;
    z-index: 2147483647;
    width: 200px;
    height: 200px;
    top: 40%;
    left: 85%;
    opacity: 0.75;
    -webkit-filter: invert(1);
    filter: invert(1);
}

